.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;  /* Added padding to give some space inside the section */
    background-color: #f8f9fa;  /* Light background to distinguish the section */
    border-radius: 8px;  /* Rounded corners for better aesthetics */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
}

.about-text {
    padding-left: 10px;
    font-size: 1em;
    color: antiquewhite;
    font-weight: bold;
    background-color: darkseagreen;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 6px;  /* Rounded corners */
    line-height: 1.5;  /* Improved readability */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Light shadow for depth */
    transition: transform 0.3s ease;  /* Smooth transition for hover effect */
}

.about-text:hover {
    transform: scale(1.02);  /* Slight enlargement on hover */
}

.title {
    font-size: 30px;
    color: antiquewhite;
    text-align: center;  /* Center align the text */
    background-color: #4CAF50;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 6px;  /* Rounded corners */
    cursor: pointer;  /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease, transform 0.3s ease;  /* Smooth transition */
}

.about-us:hover {
    background-color: #45a049;  /* Slightly darker green on hover */
    transform: scale(1.02);  /* Slight enlargement on hover */
}