.bottom-section {
    display: grid;
    grid-template-rows: 100 1fr;
    row-gap:10px;
}

.about-text {
    padding-left: 10px;
    font-size: 20px;
    color:antiquewhite;
    font-weight: bold;
    background-color:darkslateblue;
    border:none;
    padding: 30px;
}
.about-us {
    font-size: 30px;
    color:antiquewhite;
    align-content:center;
    background-color:darkslateblue;
    border:none;
    padding: 20px;
}