<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Civil ngineering</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/semester_style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nerko One' rel='stylesheet'>
    </head>

    <body>

        <div class="upper-section" >
            <div class="content">
            <p style="font-weight:bold;" >
            Civil Engineering
            </p> 
            </div>            
        </div>

        <ul class="semester">
            <li><a>semester 1</a>
                <ul class="subjects">
                    <li><a>subject 1</a>
                    <ul class="study_material">
                        <li><a>assignments</a></li>
                        <li><a>notes</a></li>
                        <li><a>FAQs</a></li>
                        <li><a>GTU Question paper</a></li>
                       
                    </ul>
                    </li>
                    <li><a>subject 2</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>subject 3</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>subject 4</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 2</a>
                <ul class="subjects">
                    <li><a>subject 1</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>subject 2</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>subject 3</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>subject 4</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 3</a>
                <ul class="subjects">
                    <li><a>Effective Technical Communication</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Indian Constitutin</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Geotechnical Engineering</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Building Construction Tecnology</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Mechanics of Solids</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Building And Town Plannig</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 4</a>
                <ul class="subjects">
                    <li><a>Surveying</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Stuctural Analysis-1</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Civil Engineering - Social and Global Impact</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Complex Variable and Partial Differential Equations</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Fluid Mechanics and Hydraulics</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 5</a>
                <ul class="subjects">
                    <li><a>Transportation Engineering</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Design of Structures</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Pavement Design and Highway Construction</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>subject 4</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                   
                </ul>
            </li>

            <li><a>semester 6</a>
                <ul class="subjects">
                    <li><a>Advance Construction And Equipments</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Applied Fluid Mechanics</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Railway, Bridge And Tunnel Engineering</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Water And Waste Water Engineering</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Elementary Stuctural Design</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Urban Transportation System</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </li>

        </ul>
    
    </body>

</html>