<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Computer Engineering</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/semester_style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nerko One' rel='stylesheet'>

    </head>

    <body>
            <div class="upper-section" >
                <div class="content">
                <p style="font-weight:bold;" >
                Computer Engineering
                </p> 
                </div>            
            </div>

        <ul class="semester">
   
            <li><a>semester 1</a>
                <ul class="subjects">
                    <li><a>Physics</a>
                    <ul class="study_material">
                        <li><a href="{% url 'download_file' 'Computer Engineering' '1' '3110005' 'Basic Electrical Engineering' 'assignments' %}">assignments</a></li>
                        <li><a>notes</a></li>
                        <li><a>FAQs</a></li>
                        <li><a>GTU Question paper</a></li>
                    </ul>
                    </li>
                    <li><a>Mathematics-1</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Basic electrical Engineering </a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Basic Mechanical Engineering</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Universal Human Values-IPDC</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 2</a>
                <ul class="subjects">
                    <li><a>Engineering Graphic and Design</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Mathematics-2</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>English for technical communication</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>IRP/Fundamental for AI/ industrial saftey and standard</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Programming for Problem solving-PPS</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 3</a>
                <ul class="subjects">
                    <li><a>Effective Technical Communication</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Probability and Statistics</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Indian Constitution</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Data Structures</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Database Management Systems</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Digital Fundamentals</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 4</a>
                <ul class="subjects">
                    <li><a>Operating System</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Object Oriented Programming-1(Java)</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Computer Organization and Architecture</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Discrete Mathematics</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Principles of Economics and Management</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 5</a>
                <ul class="subjects">
                    <li><a>Analysis And Design of Algorithms</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Professional Ethics</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Computer Networks</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Software Engineering</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Python for Data Science</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Cyber Security</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                   
                </ul>
            </li>

            <li><a>semester 6</a>
                <ul class="subjects">
                    <li><a>Theory of Computation</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Advance java</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Microprocessor and Interfacing</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>WEB programming</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>IOT and Applications</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Data Minning</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </li>

        </ul>
    
    </body>

</html>