<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mechanical Engineering</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/semester_style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nerko One' rel='stylesheet'>

    </head>

    <body>

        <div class="upper-section" >
            <div class="content">
            <p style="font-weight:bold;" >
            Mechanical Engineering
            </p> 
            </div>            
        </div>

        <ul class="semester">
   
            <li><a>semester 1</a>
                <ul class="subjects">
                    <li><a>Physics</a>
                        <ul class="study_material">
                        <li><a>assignments</a></li>
                        <li><a>notes</a></li>
                        <li><a>FAQs</a></li>
                        <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Mathematics-1</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Basic Electrical Engineering</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Basic Mechanical Engineering</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Universal Human Values-IPDC</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                </ul>
            </li>

            <li><a>semester 2</a>
                <ul class="subjects">

                    <li><a>Engineering Graphic and Design-EGD</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Mathematics-2</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>English for technical communication</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Programming for problem solving-PPS</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>IPR/Fundamental of AI/industrial saftey and standard</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 3</a>
                <ul class="subjects">
                    <li><a>Effective Technical Communication</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Complex Variable and Partial Differential Equations</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Indian Constitution</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Material Science and Metallurgy</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Engineering Thermodynamics</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Kinematics And Theory of Machines</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 4</a>
                <ul class="subjects">
                    <li><a>Mechanical Measurement and Metrology</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Fluid Mechanics and Hydraulic Machines</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Fundamentals of Machine Design</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Manufacturing Processes</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Organizational Behavior</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a>semester 5</a>
                <ul class="subjects">

                    <li><a>Heat Transfer</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Operation Research</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Dynamics of Machinery</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Manufecturing Technology</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Oil Hydraulics and Pneumatics</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                   
                </ul>
            </li>

            <li><a>semester 6</a>
                <ul class="subjects">
                    <li><a>Computer Aided Design</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Applied Thermodynamics</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Computer Aided Manufacturing</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    <li><a>Advanced Manufactruing Processes</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>

                    <li><a>Industry 4.0</a>
                        <ul class="study_material">
                            <li><a>assignments</a></li>
                            <li><a>notes</a></li>
                            <li><a>FAQs</a></li>
                            <li><a>GTU Question paper</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </li>

        </ul>
    
    </body>

</html>