*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.8px;
}

.middle-section {
    display:grid;
    height: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    justify-items: center;
    padding-top: 50px;
}

.dropdown{
    position: relative;
    display: block;
}

.dropbtn {
    min-width:100px;
    min-height: 50px;
    border-radius:20px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    font-style: bold;
    background-color:darkslateblue;
    color:antiquewhite;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: center;
    min-width: 100px;
    z-index: 1;
    background-color:antiquewhite;
    border:none;
    border-radius: 20px;
}

.dropdown-content a {
    font-size: 20px;
    color:darkslateblue;
    padding: 10px 15px;
    text-decoration: none;
    display:block;
    position: center;
    border:none;
    border-radius: 20px;
}

.dropdown-content a:hover {
    background-color:darkslateblue;
    color:antiquewhite;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:darkslateblue;
    color:antiquewhite;
    opacity: 0.95;
}

#count {
    width: 200px;
    height: 40px;
    background-color:darkslateblue;
    border-radius: 20px;
    color:antiquewhite;
}

.inputBox {
    background-color:darkslateblue;
    height:fit-content;
}

input {
    position:absolute;
    outline: none;
    font-size: 2.2rem;
    border: 0.7px solid darkslateblue;
    background: transparent;
    background-color:darkslateblue;
    border-radius: 20px;
    transition: 0.1s ease;
    z-index: 1111;
    margin-left: 100px;
}

.labelline {
    position: absolute;
    color:antiquewhite;
    transition: 0.2s ease;
    border-radius: 20px;
    z-index:1111;
    margin-left: 100px;
    padding-top: 11px;
    padding-left: 30px;
    opacity: 0.8;
    
}

input:focus,
input:valid{
    color:darkslateblue;
    border: 2px solid darkslateblue;
    background-color: antiquewhite;
    z-index: 111111;
    font-size: 1.3em;
    padding-left: 30px;
    
}

input:focus + labelline,
input:valid + labelline{
    color:antiquewhite;
    transform: translate(-20px, -26px) scale(0.99);
}
