
.semester > li, .semester > a {
    display: grid;
    width: 100px;
}

.semester a {
    text-decoration: none;
    color:darkslateblue;
    display: grid;
    width:100px;
    border-radius: 20px;
    padding: 10px 1.1rem;
    transition: background-color .22s ease, color .22s ease;
}

.semester a:hover{
    background-color:darkslateblue;
    color:antiquewhite;
    width: 120px;
    cursor: pointer;
}

.semester li {
    position: relative;
    list-style-type: none;
}

.subjects {
    position: absolute;
    background-color:antiquewhite;
    width: 100px;
    display: none;
    border-radius: 20px;
    padding-left:0;
}

.study_material {
    position: absolute;
    left: 100%;
    width: 150px;
    top: 0;
    background-color:antiquewhite;
    display: none;
    border-radius: 20px;
    padding-left: 0;
}

.semester li:hover > .subjects {
    display: block;
    animation: slideleft .5s ease;
    margin-left:110px;
    z-index: 1;
}

.subjects li:hover > .study_material {
    display:block;
    animation: slideleft .5s ease;
    margin-left:10px;
    z-index: 1;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(18px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}