<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Study Materials</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/general.css' %}">

</head>
<body>
    <h1>Available Study Materials</h1>
    <table>
        <tr>
            <th>Branch</th>
            <th>Semester</th>
            <th>Subject Code</th>
            <th>Subject Name</th>
            <th>Download</th>
        </tr>
        {% for material in study_materials %}
        <tr>
            <td>{{ material.branch }}</td>
            <td>{{ material.semester }}</td>
            <td>{{ material.subject_code }}</td>
            <td>{{ material.subject_name }}</td>
            <td><a href="{% url 'download_file' material.pk %}">Download</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>